<h2>{{ election.audit_name }}: Jurisdictions</h2>
<a href="./">back to organizations</a>

<p><p>
  
<ul>
  {% for jurisdiction in election.jurisdictions %}
  <form method="post" action="./jurisdictionadmin-login">
    <li> {{jurisdiction.name}}
      <ul>
	{% for admin in jurisdiction.jurisdiction_administrations %}
	<li>
	  <input type="hidden" name="email" value="{{admin.user.email}}">
	  <input type="submit" value="log in as {{admin.user.email}}">
	  </li>
	{% endfor %}
      </ul>
    </li>
  </form>
  {% endfor %}
</ul>
