<h2>Organizations</h2>

{% for org in organizations %}
<h3>{{org.name}}</h3>
Admins:
<ul>
  {% for admin in org.audit_administrations %}
  <form method="post" action="./auditadmin-login">
    <li>
      {{admin.user.email}}
      <input type="hidden" name="email" value="{{admin.user.email}}" />
      <input type="submit" value="log in as" />
    </li>
  </form>
  {% endfor %}
</ul>

Elections:
<ul>
  {% for election in org.elections %}
  <li>
    <form method="post" action="./delete-election/{{election.id}}">
      {{election.audit_name}} [<a
        href="./jurisdictions?election_id={{election.id}}"
        >jurisdictions</a
      >]
      <input
        type="submit"
        value="delete"
        onclick="return confirm('Are you sure?')"
      />
    </form>
  </li>
  {% endfor %}
</ul>
{% endfor %}
