[run]
omit = 
    app.py
    tests/*
    create.py
    create-org.py
    create-admin.py
    resetdb.py
    config/*

[report]
fail_under = 95.79
precision = 2
skip_covered = true
show_missing = true
exclude_lines =
    pragma: no cover
