[run]
omit = 
    server/main.py
    server/tests/*
    server/config.py
    scripts/*

[report]
fail_under = 99
precision = 2
skip_covered = true
show_missing = true
exclude_lines =
    pragma: no cover
