[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
numpy-stubs = {git = "https://github.com/numpy/numpy-stubs"}
sqlalchemy-stubs = "*"

[packages]
consistent_sampler = "*"
cryptorandom = "*"
flask = "*"
flask-sqlalchemy = "*"
joblib = "*"
numpy = "*"
psycopg2 = "*"
pytest = "*"
uuid = "*"

[requires]
python_version = "3.7"
