[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
numpy-stubs = {git = "https://github.com/numpy/numpy-stubs"}
sqlalchemy-stubs = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
# black only has pre-releases available, so we have to specify a specific version
# for now (or enable pre-releases for all packages, which we don't want)
black = "==19.10b0"
snapshottest = "*"
pytest-alembic = "*"
pytest-xdist = "*"
filelock = "*"

[packages]
alembic = "*"
authlib = "*"
chardet = "*"
consistent_sampler = "*"
cryptorandom = "*"
flask = "*"
flask-httpauth = "*"
flask-talisman = "*"
joblib = "*"
jsonschema = "*"
numpy = "*"
psycopg2-binary = "*"
requests = "*"
# sqlalchemy-utils 0.36.8 introduced a bug
# Can probably reset this to * once the next patch comes out
sqlalchemy-utils = "==0.36.7"
xkcdpass = "*"
sqlalchemy = "*"
typing-extensions = "*"
pytest-testmon = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
athena = {git = "https://github.com/filipzz/athena.git", editable = true, ref = "v0.8.3"}

[requires]
python_version = "3.8"
