version: 2.1
orbs:
  cypress: cypress-io/cypress@1
jobs:
  build-and-test:
    docker:
      - image: circleci/python:3.7.3-node-browsers
        environment:
          DATABASE_URL: postgresql://root@localhost:5432/arlo-test
          FLASK_ENV: test
      - image: circleci/postgres:9.6.2-alpine
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: arlo-test
    parallelism: 4
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - pip-packages-v1-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

      - run:
          name: install
          command: |
            make install install-development

      - save_cache:
          key: yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - save_cache:
          key: pip-packages-v1-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - ~/.local/share/virtualenvs

      - run:
          name: Install Chrome
          command: |
            curl -L -o google-chrome.deb https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
            sudo dpkg -i google-chrome.deb
            sudo sed -i 's|HERE/chrome\"|HERE/chrome\" --disable-setuid-sandbox|g' /opt/google/chrome/google-chrome
            rm google-chrome.deb
      - run:
          name: create data model
          command: |
            make resetdb
      - run:
          name: lint server (pylint)
          command: |
            make lint-server
      - run:
          name: type check
          command: |
            make typecheck-server
      - run:
          name: check formatting
          command: |
            make format-server
            git diff-index --quiet HEAD -- || (echo "Found unexpected changes!" && git diff && exit 1)
      - run:
          name: server tests
          command: |
            circleci tests glob server/tests/**.py | circleci tests split --split-by=timings | xargs pipenv run pytest -n auto --cov=.
      - run:
          name: client tests
          command: |
            make test-client
      - run:
          name: wdio end-to-end tests
          command: |
            yarn --cwd client test:wdio
      - run:
          name: cypress end-to-end tests
          command: |
            ./client/run-cypress-tests.sh

workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test
