version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.0
  cypress: cypress-io/cypress@1

executors:
  arlo:
    docker:
      - image: circleci/python:3.8.11-node-browsers
        environment:
          DATABASE_URL: postgresql://root@localhost:5432/arlo-test
          FLASK_ENV: test
      - image: circleci/postgres:9.6.3-alpine-ram
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: arlo-test

commands:
  restore-pip-cache:
    steps:
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.8/site-packages
      - restore_cache:
          name: Restore Pip Cache
          keys:
            - pip-packages-v7-{{ .Branch }}-{{ checksum "poetry.lock" }}
            - pip-packages-v7-{{ .Branch }}-
            - pip-packages-v7-
  save-pip-cache:
    steps:
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.8/site-packages
      - save_cache:
          name: Save Pip Cache
          key: pip-packages-v7-{{ .Branch }}-{{ checksum "poetry.lock" }}
          paths:
            - ~/.local
            - ~/.cache

  pip-install:
    steps:
      - run:
          name: install
          command: |
            poetry install

  create-data-model:
    steps:
      - run:
          name: create data model
          command: |
            make resetdb
      # Generate the en_US.UTF-8 locale (which for some reason isn't set up in
      # the Docker container we use). arlo uses this locale to parse numbers in CSVs.
      - run:
          name: generate locale en_US.UTF-8
          command: |
            sudo sed -i -e 's/# en_US.UTF-8 UTF-8/en_US.UTF-8 UTF-8/' /etc/locale.gen
            sudo locale-gen

  restore-yarn-cache:
    steps:
      - restore_cache:
          name: Restore Yarn Cache
          keys:
            - yarn-packages-v6-{{ .Branch }}-{{ checksum "yarn.lock" }}

  save-yarn-cache:
    steps:
      - save_cache:
          name: Save Yarn Cache
          key: yarn-packages-v6-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - ~/.cache/Cypress
            - node_modules
            - client/node_modules
  restore-caches:
    steps:
      - restore-pip-cache
      - restore-yarn-cache

  install-yarn:
    steps:
      - run:
          name: install
          command: |
            yarn install
            yarn --cwd client install
            yarn --cwd client build

jobs:
  preflight:
    executor: arlo
    resource_class: medium
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - restore-pip-cache
      - pip-install
      - save-pip-cache
      - create-data-model

      - run:
          name: typecheck server
          command: |
            make typecheck-server

      - run:
          name: format server
          command: |
            make format-server
            git diff-index --quiet HEAD -- || (echo "Found unexpected changes!" && git diff && exit 1)
      - run:
          name: lint server
          command: |
            make lint-server

  build-and-test-server:
    executor: arlo
    resource_class: medium
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - restore-pip-cache
      - pip-install
      - save-pip-cache
      - create-data-model
      - run:
          name: test server
          command: |
            poetry run pytest -n 8 --cov=.

  build-and-test-client:
    executor: arlo
    resource_class: medium
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - restore-yarn-cache
      - install-yarn
      - save-yarn-cache
      - run:
          name: install-graphicsmagick
          command: |
            sudo apt-get update
            sudo apt-get install graphicsmagick

      - run:
          name: test client
          command: |
            make test-client

  cypress:
    executor: arlo
    resource_class: medium
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - restore-caches
      - run:
          name: install
          command: |
            make install
      # In order to install noauth, we install dev python deps, since the
      # install command above only installs prod deps
      - run:
          name: install noauth
          command: |
            poetry install
      - browser-tools/install-chrome
      - create-data-model
      - run:
          name: cypress
          command: |
            ./client/run-cypress-tests.sh
      - store_artifacts:
          path: client/cypress/screenshots
      - store_artifacts:
          path: client/cypress/videos
workflows:
  version: 2
  build-and-test:
    jobs:
      - preflight
      - build-and-test-server
      - build-and-test-client
      - cypress
